<div id="main" class="container">

	<div class="row">
		<div class="col-md-12 col-centered"><h2>Check Your Orderhall Campain</h2></div>
	</div>
	
<form method="post" action="" id="check_toon" style="text-align:left;" enctype="multipart/form-data">

	<div class="row">
		<div class="col-md-12 col-centered" style="height: 40px">
			<select name="region" tabindex="1" class="select-region">
				<option value="US" label="US">US</option>
				<option value="EU" label="EU">EU</option>
				<option value="KR" label="KR">KR</option>
				<option value="TW" label="TW">TW</option>
				<option value="CN" label="CN">CN</option>
			</select>
			<input type="text" name="server" maxlength="40" required="" placeholder="Server" tabindex="3" class="input-char" /></div>
	</div>
	<input type="hidden" name="process" value="check_me">
	<div class="row">
		<div class="col-md-12 col-centered" style="height: 40px">
			<input type="submit" value="Load" tabindex="4" class="btn btn-primary btn-xs" />
			<input type="text" name="char" maxlength="30" required="" placeholder="Character" tabindex="3" class="input-char" />
		</div>
	</div>
	
</form>

</div>