<div id="main" class="container">
	<div class="row row-app email">
		<div class="row row-app">
			<div class="col-md-4">
				<div class="col-separator col-unscrollable box">
					<div class="col-table">
						
						<div class="border-bottom">
							<span class="list-group-item"><span class="badge pull-right badge-primary hidden-md">30</span><i class="fa fa-inbox"></i> Inbox</span>
							<div class="clearfix"></div>
						</div>

						<div class="col-table-row">
							<div class="col-app col-unscrollable">
								<div class="col-app">
									<div class="list-group email-item-list">

									<!-- BEGIN conversations -->
										<a href="#" class="list-group-item active" data-conversation="{conversations.CON_ID}">
											<span class="media">
												<span class="media-body">
													<span class="label label-inverse label-stroke pull-right">{conversations.LAST_DATE}</span>
													<h4 class="">{conversations.USER}<i class="icon-flag text-primary icon-2x"></i></h4>
													<p class="list-group-item-text">{conversations.LAST_MSG}</p>
												</span>
											</span>
										</a>
									<!-- END conversations -->

										<a href="#" class="list-group-item">
											<span class="media">
												<span class="media-body">
													<span class="label label-inverse pull-right">28 Oct</span>
													<h4 class=" strong">Corrupti Officiis <i class="icon-flag text-primary icon-2x"></i></h4>
													<p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, libero </p>
												</span>
											</span>
										</a>
										
									</div>
									<!-- // END list-group -->
								</div>
								<!-- // END col-app -->
							</div>
							<!-- // END col-app -->
						</div>
						<!-- // END col-table-row -->
					</div>
					<!-- // END col-table -->
				</div>
				<!-- // END col-separator -->
			</div> 
			<!-- // END col -->

			<div class="col-md-8">
				<div class="col-separator col-separator-last box">

					<div class="innerAll border-bottom">
						<div class="email-content">
							<div class="pull-right btn-group btn-group-sm">
								<a href="#" class="btn btn-default"><i class="fa fa-reply"></i></a><a href="#" class="btn btn-default"><i class="fa fa-forward"></i></a><a href="#" class="btn btn-primary"><i class="fa fa-trash-o"></i></a>
							</div>
							<div class="from">
								<a href="#">Adrian Demian</a> <span>(contact@mosaicpro.biz)</span>
								<div class="clearfix"></div>
								<span>To: your@email.com</span>
							</div>
							<strong>Subject Line Goes Here</strong>		
						</div>
					</div>
					<div class="innerAll">
						<div class="innerAll">
							<p>Hi Adrian,</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, libero corporis ipsam voluptatibus suscipit eos expedita sapiente omnis voluptatum ea! Culpa, vitae eaque quis modi voluptatum quisquam ullam. Modi, tempora!</p>
							<p class="text-muted margin-none">Regards,<br/>mosaicpro </br>Director @ mosaicpro.biz</br>www.mosaicpro.biz</p>
						</div>
					</div>
					
				</div>
			</div> <!-- end col 2 -->

		</div>

	</div>

</div>