<div class="error-page">
	<div class="container-fluid">
            <div class="row-fluid">
				<div class="col-lg-3"></div>
					<div class="col-lg-6">
						<div class="centering text-center">
							<div class="text-center">
								<h2 class="without-margin">These are not the pages you are looking For-O-For.</h2>
								<h4 class="text-success">The pages are elsewhere</h4>
							</div>
							<div class="text-center">
								<h3><small>Move Along, Move Aling</small></h3>
							</div>
							<hr>
							<ul class="pager">
								<li><a href="{ROSTER_URL}">&larr; Home</a></li>

							</ul>
						</div>
					</div>
				<div class="col-lg-3"></div>
            </div>
        </div>

</div>