<!-- $Id: footer.html 2484 2012-05-26 22:09:21Z c.treyce@gmail.com $ -->
	<div class="roster-footer">

		<div class="version">Blood God v{ROSTER_VERSION}</div>
<?php /*		<div class="wr-info"><!-- TRANSLATE roster_credits --></div>
		<div class="bliz">
<!-- TRANSLATE bliz_notice -->
		</div>

		<div class="valid">
			<a href="http://validator.w3.org/check?uri=referer" target="_blank">
			<img src="{IMG_URL}validxhtml.gif" alt="Valid XHTML 1.0 Transitional" width="80" height="15" /></a>
		</div>*/ ?><div class="bliz">
<!-- TRANSLATE bliz_notice -->
		</div>
		<!-- IF S_PROCESSTIME -->
		<div class="process">{PROCESSTIME} | {QUERYCOUNT}</div>
		<!-- ENDIF -->
	</div>
</div>

<!-- IF S_DEBUG_MODE -->
<br />

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sredborder">
			<div class="header_text sredborder">PHP Errors</div>

			<table cellpadding="0" cellspacing="0" width="100%">
<!-- BEGIN php_debug -->
				<tr>
					<th class="membersHeaderRight">{php_debug.FILE}</th>
				</tr>
<!-- BEGIN row -->
				<tr>
					<td class="membersRowRight{php_debug.row.ROW_CLASS}" style="font-size:10px;">&nbsp;&nbsp;{php_debug.row.ERROR}</td>
				</tr>
<!-- END row -->
<!-- END php_debug -->
			</table>

		</td>
	</tr>
</table>

<br />
<!-- ENDIF -->


<!-- IF S_DEBUG -->
			<br />
			<div class="tier-1-a">
				<div class="tier-1-b">
					<div class="tier-1-c">
						<div class="tier-1-title">Roster Debugging</div>
						<div class="tier-2-a">
							<div class="tier-2-b">
								<div class="tier-2-title">
									<table width=100%>
										<td width="10%">Line</td>
										<td width="10%">Time</td>
										<td width="10%">Class</td>
										<td width="20%">Function</td>
										<td width="30%">Info</td>
										<td width="10%">Status</td>
									</table>
								</div>
			<!-- BEGIN d_row -->
								<div class="tier-6-a">
									<div class="tier-6-b">
										<table width="100%">
											<tr>
												<td width="10%">{d_row.LINE}</td>
												<td width="10%">{d_row.TIME}</td>
												<td width="10%">{d_row.CLASS}</td>
												<td width="20%">{d_row.FUNC}</td>
												<td width="30%">{d_row.INFO}</td>
												<td width="10%">{d_row.STATUS}</td>
											</tr>
										</table>
									</div>
								</div>
			<!-- IF DEBUG_DATA -->
								<div class="tier-1-a">
									<div class="tier-1-b">
										<div class="tier-1-c">
											<div class="tier-1-title">Arguments</div>
											{d_row.ARGS}
										</div>
										<div class="tier-1-title">Returns</div>
											{d_row.RET}
									</div>
								</div>


			<!-- ENDIF -->
			<!-- END d_row -->
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- ENDIF -->
			
			
<!-- IF S_SQL_WIN -->
<br />

<table class="border_frame" cellpadding="0" cellspacing="1">
	<tr>
		<td class="border_color sgreenborder">
			<div class="header_text sgreenborder"><!-- TRANSLATE sql_queries --></div>

			<div class="sqlwindow">
				<table class="table table-striped">
<!-- BEGIN sql_debug -->
					<thead>
						<tr><th colspan="3"></th></tr>
						<tr>
							<th colspan="3">{sql_debug.FILE}</th>
						</tr>
						<tr>
							<th>Line</th>
							<th>Time</th>
							<th>Query</th>
						</tr>
					</thead>
<!-- BEGIN row -->
					<tr>
						<td>&nbsp;&nbsp;{sql_debug.row.LINE}</td>
						<td>{sql_debug.row.TIME}</td>
						<td style="white-space:normal;">{sql_debug.row.QUERY}</td>
					</tr>
<!-- IF S_DESCRIBE -->
					<tr>
						<td colspan="3" class="membersRowRight{sql_debug.row.ROW_CLASS}">{sql_debug.row.DESCRIBE}</td>
					</tr>
<!-- ENDIF -->
<!-- END row -->
<!-- END sql_debug -->
				</table>
			</div>

		</td>
	</tr>
</table>
<!-- ENDIF -->

</div>

<div id="overDiv"></div>

{ROSTER_FOOT_JS}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64984999-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
