

	<div class="info-header players">
		<div class="text up">
			<div class="name">
				WoW Roster Profiles
			</div>
			<div class="guild"> < {LOCATION} List > </div>		
<!-- IF TOTAL_DATA neq '' -->			
			<div class="info">Total {LOCATION} {TOTAL_DATA}</div>
<!-- ENDIF -->
		</div>
	</div>
<!-- IF TABARD neq '' -->
	<div class="tabard">
		<img src="{TABARD}"></a>
	</div>
<!-- ENDIF -->
	<div class="top-menu">
		<div class="links">
			<div id="top_nav">
				<a class="button-guild" href="?p=guilds">Guilds</a>
				<a class="button-realm" href="?p=realms">Servers</a>
				<a class="button-upload" href="?p=members">Players</a>
			</div>
		</div>
	</div>