<!-- BEGIN news -->

<div class="news_block">
	<div class="title">
		<div class="icon">
			<img src="{INTERFACE_URL}Interface/Icons/inv_misc_note_02.{IMG_SUFFIX}" alt="" />
			<div class="mask"></div>
		</div>
		{news.TITLE}
	</div>
	<div class="article-summary">
			{news.TEXT}
	</div>
	<span class="clear"></span>
	<div class="tier-3-a">
		<div class="tier-3-b">
			<div class="config">
				<div class="config-name"><!-- TRANSLATE posted_by -->: {news.POSTER} <span class="spacer"> - </span> {news.DATE}</div>
			</div>
		</div>
	</div>
</div>
<!-- END news -->