<!-- BEGIN folder -->
<div class="tier-2-a {folder.BORDER}" style="width:100%;">
	<div class="tier-2-b">

		<div class="tier-2-title">
			<div style="text-transform:none;cursor:pointer;width:100%;text-align:left;" onclick="showHide('table_{folder.ID}','img_{folder.ID}','/wowroster/templates/default/images/button_open.png','/wowroster/templates/default/images/button_close.png');">
				<div style="float:right;"><span style="color:{folder.SCOLOR};">{folder.SNAME}</span>
					<img id="img_{folder.ID}" src="/wowroster/templates/default/images/button_close.png" alt="">
				</div>
			{folder.NAME}
			</div>
		</div>
		<div id="table_{folder.ID}" style="width: 100%; display: none;">
			
			<!-- BEGIN folders -->
			<div class="tier-2-a {folder.folders.BORDER}" style="width:100%;">
				<div class="tier-2-b">

					<div class="tier-2-title">
						<div style="text-transform:none;cursor:pointer;width:100%;text-align:left;" onclick="showHide('table_{folder.folders.ID}','img_{folder.folders.ID}','/wowroster/templates/default/images/button_open.png','/wowroster/templates/default/images/button_close.png');">
							<div style="float:right;"><span style="color:{folder.folders.SCOLOR};">{folder.folders.SNAME}</span>
								<img id="img_{folder.folders.ID}" src="/wowroster/templates/default/images/button_close.png" alt="">
							</div>
						{folder.folders.NAME}
						</div>
					</div>
					<table id="table_{folder.folders.ID}" style="width: 100%; display: none;" cellpadding="0" cellspacing="0">
						<tr>
							<th class="membersHeader">Filename</th>
							<th class="membersHeader">Local Sha</th>
							<th class="membersHeader">Repo Sha</th>
							<th class="membersHeader">Local Size</th>
							<th class="membersHeader">Repo Size</th>
						</tr>
							<!-- BEGIN files -->
							<tr style="cursor:help;">
								<td class="membersRow{folder.folders.files.ROW}">
									<span style="padding-left: 3px; border-left: 10px solid {folder.folders.files.COLOR}">{folder.folders.files.NAME}</span>
								</td>
								<td class="membersRow{folder.folders.files.ROW}">
								{folder.folders.files.LSHA}
								</td>
								<td class="membersRow{folder.folders.files.ROW}">
								{folder.folders.files.RSHA}
								</td>
								<td class="membersRow{folder.folders.files.ROW}">
								{folder.folders.files.LSIZE}
								</td>
								<td class="membersRow{folder.folders.files.ROW}">
								{folder.folders.files.RSIZE}
								</td>
							</tr>
							<!-- END files -->
					</table>
				</div>
			</div>
			<!-- END folders -->

			<table style="width: 100%;" cellpadding="0" cellspacing="0">
				<tr>
					<th class="membersHeader">Filename</th>
					<th class="membersHeader">Local Sha</th>
					<th class="membersHeader">Repo Sha</th>
					<th class="membersHeader">Local Size</th>
					<th class="membersHeader">Repo Size</th>
				</tr>
					<!-- BEGIN files -->
					<tr style="cursor:help;">
						<td class="membersRow{folder.files.ROW}">
							<span style="padding-left: 3px; border-left: 10px solid {folder.files.COLOR}">{folder.files.NAME}</span>
						</td>
						<td class="membersRow{folder.files.ROW}">
						{folder.files.LSHA}
						</td>
						<td class="membersRow{folder.files.ROW}">
						{folder.files.RSHA}
						</td>
						<td class="membersRow{folder.files.ROW}">
						{folder.files.LSIZE}
						</td>
						<td class="membersRow{folder.files.ROW}">
						{folder.files.RSIZE}
						</td>
					</tr>
					<!-- END files -->
			</table>
		</div>
	</div>
</div>
<!-- END folder -->