		<div class="tier-2-a login-box">
			<div class="tier-2-b">
				<div class="tier-2-title">
					<!-- TRANSLATE auth_req -->
				</div>
				<div xmlns="http://www.w3.org/1999/xhtml" class="input-container" id="login-wrapper">
					<!-- IF S_LOGIN_MESSAGE -->
					<div class="control-group">
						<div class="controls">
							<div class="message">
								{L_LOGIN_MESSAGE}
							</div>
						</div>
					</div>
					<!-- ENDIF -->
					<div class="control-group">
						<button type="submit" id="bnetloginm" class="btn btn-primary btn-block" tabindex="1">
						Battle.net Login
					</div>
				</div>
			</div>
		</div>
