<div class="container-fluid"></div>
<!-- $Id: menu.html 2631 2014-08-21 17:54:35Z ulminia@gmail.com
$ -->
<!-- PHP -->do_action('roster_before_menu');<!-- ENDPHP -->
<!-- IF SHOW_MENU -->
<nav id="roster_main_menu" class="navbar navbar-dark bg-dark navigation-clean-button navbar-expand-sm">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>&#x2630;</button>
		<a class="navbar-brand" href="#">{MENU_TITLE}</a>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- IF T_BAR_USER_ILI -->
                <li class="dropdown nav-item">	<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">{T_BAR_USER_MSG}<span class="caret"></span></a>
                    <ul
                    class="dropdown-menu">
                        <!-- BEGIN menu_button_section -->
                        <!-- BEGIN menu_buttons -->
                        <!-- IF menu_button_section.menu_buttons.SCOPE eq 'user' -->
                        <li class="smenuitem dropdown-item">	<a href="{menu_button_section.menu_buttons.U_LINK}">

								<div>

									<div id="container">

									<img src="{menu_button_section.menu_buttons.ICON}" border="0" style="vertical-align:middle;" alt="">

									{menu_button_section.menu_buttons.NAME}</div>

								</div>

							</a>
                        </li>
                        <!-- ENDIF -->
                        <!-- END menu_buttons -->
                        <!-- END menu_button_section -->
            </ul>
            </li>
            <li class="nav-item">
                <form name="roster_logout" action="{U_LOGIN_ACTION}" style="padding: 12px;"
                method="post" enctype="multipart/form-data">
                    <input type="hidden" name="logout" value="1">
                    <button class="btn btn-primary btn-xs" type="submit">
                        <!-- TRANSLATE logout -->
                    </button>
                </form>
            </li>
            <!-- ELSE -->
            <li class="nav-item">
                <div style="padding: 8px;">
                    <button type="submit" onclick="openWin()" class="btn btn-primary btn-block">Log In with Battle.net</button>
                </div>
            </li>
            <!-- ENDIF -->
            <!-- IF ROSTER_SCOPE eq "char" -->
            <li class="dropdown nav-item">	<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><!-- TRANSLATE member_profiles --><span class="caret"></span></a>
                <ul
                class="dropdown-menu">
                    <!-- BEGIN menu_button_section -->
                    <!-- BEGIN menu_buttons -->
                    <!-- IF menu_button_section.menu_buttons.SCOPE eq 'char' -->
                    <li class="smenuitem dropdown-item">	<a href="{menu_button_section.menu_buttons.U_LINK}">

								<div>

									<div id="container">

									<img src="{menu_button_section.menu_buttons.ICON}" border="0" style="vertical-align:middle;" alt="">

									{menu_button_section.menu_buttons.NAME}</div>

								</div>

							</a>
                    </li>
                    <!-- ENDIF -->
                    <!-- END menu_buttons -->
                    <!-- END menu_button_section -->
                    </ul>
            </li>
            <!-- ENDIF -->
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="right nav-item"><a href="{ROSTER_URL}" class="nav-link">Home</a>
                </li>
                <li class="dropdown nav-item">	<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><!-- TRANSLATE guild -->

					<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- BEGIN menu_button_section -->
                        <!-- BEGIN menu_buttons -->
                        <!-- IF menu_button_section.menu_buttons.SCOPE eq 'guild' -->
                        <li class="smenuitem dropdown-item">	<a href="{menu_button_section.menu_buttons.U_LINK}">

								<div>

									<div id="container">

									<img src="{menu_button_section.menu_buttons.ICON}" border="0" style="vertical-align:middle;" alt="">

									{menu_button_section.menu_buttons.NAME}</div>

								</div>

							</a>
                        </li>
                        <!-- ENDIF -->
                        <!-- END menu_buttons -->
                        <!-- END menu_button_section -->
                    </ul>
                </li>
                <!-- IF ISADMIN -->
                <li class="right nav-item"><a class="mlink nav-link" href="{RCP}">Admin CP</a>
                </li>
                <!-- ENDIF -->
                <!-- IF T_BAR_USER_ILI -->
                <!-- ELSE -->
                <li class="right nav-item" id="bnetlogin"><a href="#" class="nav-link">Log In with Battle.net<i class="spinner-battlenet"></i></a>
                </li>
                <!-- ENDIF -->
                <li class="dropdown nav-item">	<a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><!-- TRANSLATE util -->

					<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- BEGIN menu_button_section -->
                        <!-- BEGIN menu_buttons -->
                        <!-- IF menu_button_section.menu_buttons.SCOPE eq 'util' -->
                        <li class="smenuitem dropdown-item">	<a href="{menu_button_section.menu_buttons.U_LINK}">

								<div>

									<div id="container">

									<img src="{menu_button_section.menu_buttons.ICON}" border="0" style="vertical-align:middle;" alt="">

									{menu_button_section.menu_buttons.NAME}</div>

								</div>

							</a>
                        </li>
                        <!-- ENDIF -->
                        <!-- END menu_buttons -->
                        <!-- END menu_button_section -->
                    </ul>
                </li>
                <li class="right nav-item">	<a class="mlink nav-link" id="menu-search" href="#"><i id="search-icon" class="fa fa-search fa-3" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="nav-search" id="nav-search">
    <div class="container">
        <div class="row">
            <form name="menu_search" action="{U_SEARCH_FORM_ACTION}" method="post">
                <input id="searchInput" name="search" type="search" placeholder="Search for characters, items, and more..."
                autocomplete="off" tabindex="1" class="form-control">
            </form>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center">	<strong><!-- TRANSLATE fan_sites_en --></strong>
                <ul class="list-unstyled">
                    <!-- BEGIN fan_sites -->
                    <li><a href="{fan_sites.LINK}" target="_blank">{fan_sites.NAME}</a>
                    </li>
                    <!-- END fan_sites -->
                </ul>
            </div>
            <div class="col-lg-4 text-center">	<strong><!-- TRANSLATE addon_sites_en --></strong>
                <ul class="list-unstyled">
                    <!-- BEGIN addon_sites -->
                    <li><a href="{addon_sites.LINK}" target="_blank">{addon_sites.NAME}</a>
                    </li>
                    <!-- END addon_sites -->
                </ul>
            </div>
            <div class="col-lg-4 text-center">	<strong><!-- TRANSLATE roster_hel_en --></strong>
                <ul class="list-unstyled">
                    <!-- BEGIN roster_hel -->
                    <li><a href="{roster_hel.LINK}" target="_blank">{roster_hel.NAME}</a>
                    </li>
                    <!-- END roster_hel -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ENDIF -->
<!-- PHP -->do_action('roster_after_menu');
<!-- ENDPHP -->