<!-- $Id: ucp.html 2530 2012-06-04 22:32:10Z ulminia@gmail.com $ -->

{HEADER}
<div id="main" class="container section-blue">

		<div class="page-header">
			<h1>{ROSTERCP_TITLE}</h1>
		</div>

		<div class="btn-group">
			<!-- BEGIN pagebar -->
			<a href="{pagebar.LINK}" class="btn btn-primary<!-- IF pagebar.SELECTED --> active<!-- ENDIF -->">{pagebar.NAME}</a>
			<!-- END pagebar -->
		
<!-- IF ADDON_PAGEBAR -->
			<!-- BEGIN addon_pagebar -->
			<a href="{addon_pagebar.LINK}" class="btn btn-primary<!-- IF addon_pagebar.SELECTED --> active<!-- ENDIF -->">{addon_pagebar.NAME}</a>
			<!-- END addon_pagebar -->
<!-- ENDIF -->
		</div>

		<!-- IF MENU neq '' -->
		<div class="config-menu">
			{MENU}
		</div>
		<div class="config-body-menu">
		<!-- ELSE -->
		<div class="config-body">
		<!-- ENDIF -->
			{BODY}
		</div>
</div>

{FOOTER}
