<div class="row cfg-row">
	<div class="col-md-6 col-sm-5">
		<i class="fa fa-exclamation-triangle cfg-icon-cp" {L_DEFAULT_PAGE_HELP}></i>{L_DEFAULT_PAGE}
	</div>
	<div class="col-md-6 col-sm-5">
		<form action="{U_MAKELINK}" method="post" id="default" class="inline slim">
			<input type="hidden" name="op" value="default_page" />
			{S_DEFAULT_SELECT}
			<input type="submit" value="Go" />
		</form>
	</div>
</div>
<!-- IF S_ADDON_LIST -->
<div class="tab-navigation" style="height: 30px;display:block;">
	<ul id="addon_install">
		<li class="selected" id="ai_0"><!-- TRANSLATE installer_installed --> ({AL_C_ACTIVE})</li>
		<li class="" id="ai_1"><!-- TRANSLATE installer_upgrade_avail --> ({AL_C_UPGRADE})</li>
		<li class="" id="ai_2"><!-- TRANSLATE installer_deactivated --> ({AL_C_DEACTIVE})</li>
		<li class="" id="ai_3"><!-- TRANSLATE installer_not_installed --> ({AL_C_INSTALL})</li>
		<li class="" id="ai_-1"><!-- TRANSLATE installer_purge --> ({AL_C_PURGE})</li>
	</ul>
</div>
<div class="row">
	<div class="col-md-12 col-sm-6">
		<div class="card-deck">
			<!-- BEGIN addon_list -->
			<div class="card card-inverse addon_install" id="ai_{addon_list.INSTALL}">
			  <div class="card-block">
				<h4 class="card-title">{addon_list.FULLNAME}</h4>
				<p class="card-text">{addon_list.DESCRIPTION}</p>
			  </div>
			  <ul class="list-group list-group-flush">
				
				<!-- IF addon_list.INSTALL eq -1 -->
				<li class="list-group-item">
					<form name="purge_{addon_list.BASENAME}" style="display:inline;" method="post" enctype="multipart/form-data" action="{U_MAKELINK}">
						<input type="hidden" name="op" value="process" />
						<input type="hidden" name="addon" value="{addon_list.BASENAME}" />
						<input type="hidden" name="type" value="purge" />
						<button type="submit" class="input" {L_TIP_INSTALL_OLD}>
							<img src="{THEME_PATH}/images/admin/purple.png" style="height:16px;width:16px;border:0;" alt="" />
							<!-- TRANSLATE installer_purge -->
						</button>
					</form>
				</li>
				<!-- ENDIF -->
				<!-- IF addon_list.INSTALL eq 0 -->
				<li class="list-group-item">
					<form name="uninstall_{addon_list.BASENAME}" style="display:inline;" method="post" enctype="multipart/form-data" action="{U_MAKELINK}">
						<input type="hidden" name="op" value="process" />
						<input type="hidden" name="addon" value="{addon_list.BASENAME}" />
						<input type="hidden" name="type" value="uninstall" />
						<button type="submit" class="input" {L_TIP_INSTALL}>
							<img src="{THEME_PATH}/images/admin/green.png" style="height:16px;width:16px;border:0;" alt="" />
							<!-- TRANSLATE installer_uninstall -->
						</button>
					</form>
				</li>
				<!-- ENDIF -->
				<!-- IF addon_list.INSTALL eq 2 -->
				<li class="list-group-item">
					<form name="uninstall_{addon_list.BASENAME}" style="display:inline;" method="post" enctype="multipart/form-data" action="{U_MAKELINK}">
						<input type="hidden" name="op" value="process" />
						<input type="hidden" name="addon" value="{addon_list.BASENAME}" />
						<input type="hidden" name="type" value="uninstall" />
						<button type="submit" class="input" {L_TIP_INSTALL}>
							<img src="{THEME_PATH}/images/admin/green.png" style="height:16px;width:16px;border:0;" alt="" />
							<!-- TRANSLATE installer_uninstall -->
						</button>
					</form>
				</li>
				<!-- ENDIF -->
				<!-- IF addon_list.INSTALL eq 1 -->
				<li class="list-group-item">
					<form name="upgrade_{addon_list.BASENAME}" style="display:inline;" method="post" enctype="multipart/form-data" action="{U_MAKELINK}">
						<input type="hidden" name="op" value="process" />
						<input type="hidden" name="addon" value="{addon_list.BASENAME}" />
						<input type="hidden" name="type" value="upgrade" />
						<button type="submit" class="input" {addon_list.L_TIP_UPGRADE}>
							<img src="{THEME_PATH}/images/admin/blue.png" style="height:16px;width:16px;border:0;" alt="" />
							<!-- TRANSLATE installer_upgrade -->
						</button>
					</form>
				</li>
				<!-- ENDIF -->
				<!-- IF addon_list.INSTALL eq 3 -->
				<li class="list-group-item">
					<form name="install_{addon_list.BASENAME}" style="display:inline;" method="post" enctype="multipart/form-data" action="{U_MAKELINK}">
						<input type="hidden" name="op" value="process" />
						<input type="hidden" name="addon" value="{addon_list.BASENAME}" />
						<input type="hidden" name="type" value="install" />
						<button type="submit" class="input" {L_TIP_UNINSTALL}>
							<img src="{THEME_PATH}/images/admin/red.png" style="height:16px;width:16px;border:0;" alt="" />
							<!-- TRANSLATE installer_install -->
						</button>
					</form>
				</li>
				<!-- ENDIF -->
				<li class="list-group-item">
					<!-- IF addon_list.INSTALL neq 3 -->
					<!-- IF addon_list.ACTIVE -->
					<form name="deactivate_{addon_list.ID}" style="display:inline;" method="post" enctype="multipart/form-data" action="{U_MAKELINK}">
						<input type="hidden" name="op" value="deactivate" />
						<input type="hidden" name="id" value="{addon_list.ID}" />
						<button type="submit" class="input" {L_TIP_STATUS_ACTIVE}>
							<img src="{THEME_PATH}/images/admin/green.png" style="height:16px;width:16px;border:0;" alt="" />
							<!-- TRANSLATE installer_deactivate -->
						</button>
					</form>
					<!-- ELSE -->
					<form name="activate_{addon_list.ID}" style="display:inline;" method="post" enctype="multipart/form-data" action="{U_MAKELINK}">
						<input type="hidden" name="op" value="activate" />
						<input type="hidden" name="id" value="{addon_list.ID}" />
						<button type="submit" class="input" {L_TIP_STATUS_INACTIVE}>
							<img src="{THEME_PATH}/images/admin/yellow.png" style="height:16px;width:16px;border:0;" alt="" />
							<!-- TRANSLATE installer_activate -->
						</button>
					</form>
					<!-- ENDIF -->
					<!-- ELSE -->&nbsp;<!-- ENDIF -->
				</li>
				<!-- IF addon_list.DEPENDENCY -->
					<li class="list-group-item"><span class="red">{addon_list.DEPENDENCY}</span></li>
				<!-- ENDIF -->
			  </ul>
			</div>
			<!-- END addon_list -->
		</div>
	</div>
</div>
<!-- ENDIF -->
