<section>
	<div class="container">
		<div class="row">
			<input type="submit" id="addmore" class="cfg-button cfg-button--new" value="Add More">
			<div id="fileuploader">Upload</div>
			<script>
			$(document).ready(function() {
				$("#fileuploader").uploadFile({
					url:"{IMG_AJAX_UPLOAD}",
					fileName:"myfile",
					showDone: true,
					showError: true,
					returnType:"json"
				});
			});
			</script>
			</div>
		</div>
		
		<div class="row">
			<div align="center">
			<!-- BEGIN mideacat -->
				<button class="btn btn-default filter-button" data-filter="{mideacat.ID}">{mideacat.NAME}</button>
			<!-- END mideacat -->
			</div>
			<br/>

			<!-- BEGIN mideaimages -->
			<div class="gallery_product col-lg-2 col-md-2 col-sm-2 col-xs-6 filter {mideaimages.PARENT}">				
				<img class="img-responsive" src="{mideaimages.THUMB}" alt="Card image">
				<div class="card-img-overlay">
					<button type="button" class="btn btn-info btn-md" id="isel" data-id="{mideaimages.ID}" data-image="{mideaimages.FILE}" data-src="{mideaimages.FILE}" data-target="h_imagel">Select</button>
					<button type="button" class="btn btn-info btn-md" id="idel" data-id="{mideaimages.ID}" data-target="h_imagel">Delete</button>
				</div>				
			</div>
			<!-- END mideaimages -->
		</div>
	</div>
</section>