<div class="row cfg-row">
	<div class="col-md-6 col-sm-6">
		<a class="input" href="{RETURN}"><span class="ui-icon ui-icon-circle-arrow-w"></span> Return</a>
	</div>
	<div class="col-md-6 col-sm-6">
		<form action="" method="post" id="update">
		<input type="hidden" id="action" name="action" value="{TYPE}" />
		<input type="hidden" name="process" value="process" />
		<input type="hidden" name="id" value="{ID}" />
		<button type="submit" class="btn btn-default btn-xs"><!-- TRANSLATE update --></button>
	</div>
	<div class="col-md-12 col-sm-12 center">
		<div class="tab-navigation" style="height: 30px;display:block;">
			<ul id="perm_page">
				<!-- BEGIN type -->
					<li class="" id="{type.SLUG}">{type.TYPE}</li>
				<!-- END type -->
			</ul>
		</div>
	</div>
</div>
	<!-- BEGIN type -->
<div class="panel panel-default perm_page" id="{type.SLUG}">
	<div class="panel-heading">{type.TYPE}</div>
		<div class="panel-body">
		<!-- BEGIN catagory -->
			<div class="panel panel-default">
				<div class="panel-heading">{type.catagory.NAME}</div>
					<div class="panel-body">
					<!-- BEGIN info -->
					<div class="row cfg-row">
						<div class="col-md-6 col-sm-4">{type.catagory.info.NAME} - {type.catagory.info.INFO}</div>
						<div class="col-md-6 col-sm-4">						
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default btn-xs" id="rad_config_{type.catagory.info.CFG}0">
									<input type="radio" id="rad_config_{type.catagory.info.CFG}0" name="{type.catagory.info.CFG}" value="0" <!-- IF type.catagory.info.CFGVALUE eq 0 -->checked="checked" <!-- ENDIF -->/>
									<!-- TRANSLATE no --></label>
								<label class="btn btn-default btn-xs" id="rad_config_{type.catagory.info.CFG}1">
									<input type="radio" id="rad_config_{type.catagory.info.CFG}1" name="{type.catagory.info.CFG}" value="1" <!-- IF type.catagory.info.CFGVALUE eq 1 -->checked="checked" <!-- ENDIF -->/>
									<!-- TRANSLATE yes --></label>
							</div>
						</div>
					</div>
					<!-- END info -->
				</div>
			</div>
		<!-- END catagory -->
		
		</div>
	</div>
	<!-- END type -->
</form>