

<div class="panel-group">
  <!-- BEGIN forum -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a data-toggle="collapse" href="#collapse{forum.FORUM_ID}">{forum.TITLE}</a>
		<div class="float-right" style="margin-top:3px;">
			<form name="activate" method="post" style="display: inline-block;" enctype="multipart/form-data" action="">
				<input type="hidden" name="op" value="process" />
				<input type="hidden" name="type" value="{forum.B_ACTIVEOP}" />
				<input type="hidden" name="id" value="{forum.FORUM_ID}" />
				<button type="submit" class="input" style="font-size: 18px !important;">
				<img src="templates/default/images/admin/{forum.B_ACTIVEI}.png" style="height:16px;width:16px;border:0;" alt="" />{forum.B_ACTIVET}</button>
			</form>
			<form name="lock" method="post" style="display: inline-block;" enctype="multipart/form-data" action="">
				<input type="hidden" name="op" value="process" />
				<input type="hidden" name="type" value="{forum.L_ACTIVEOP}" />
				<input type="hidden" name="id" value="{forum.FORUM_ID}" />
				<button type="submit" class="input" style="font-size: 18px !important;"><span class="ui-icon ui-icon-{forum.L_ACTIVEU}"></span>{forum.L_ACTIVET}</button>
			</form>
			<form name="delete" method="post" style="display: inline-block;" enctype="multipart/form-data" action="">
				<input type="hidden" name="op" value="process" />
				<input type="hidden" name="type" value="delete" />
				<input type="hidden" name="id" value="{forum.FORUM_ID}" />
				<button type="submit" class="input" style="font-size: 18px !important;">
				<img src="templates/default/images/admin/yellow.png" style="height:16px;width:16px;border:0;" alt="" />Delete</button>
			</form>
			
		</div>
	  </h2>
    </div>
    <div id="collapse{forum.FORUM_ID}" class="panel-collapse collapse">
      <div class="panel-body">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<!-- TRANSLATE order -->: {forum.ORDER}
			</li>
			<li class="list-group-item">
				<form action="{U_MAKELINK}" method="post" style="display: inline-block;" >
					<input type="hidden" name="op" value="process" />
					<input type="hidden" name="type" value="parent" />
					<input type="hidden" name="id" value="{forum.FORUM_ID}" />
					Parent: <input type="submit" value="Change Parent" /><span class="pull-right">{forum.PARENT}</span>
				</form>
			</li>
			<li class="list-group-item">
				<form action="{U_MAKELINK}" method="post" style="display: inline-block;" >
					<input type="hidden" name="op" value="process" />
					<input type="hidden" name="type" value="access" />
					<input type="hidden" name="id" value="{forum.FORUM_ID}" />
					<input type="submit" value="Set" /><span class="pull-right">{forum.ACCESS}</span>
				</form>
			</li>
	    </ul>
		Subforum
		<ul>
			<!-- BEGIN subforum -->
				<li class="list-group-item">
					{forum.subforum.TITLE} - ({forum.subforum.DESC})
					<div class="topicx">{forum.subforum.TOPICS}</div>
					<div class="posts">{forum.subforum.POSTS}</div>
					<div  class="lastpost"><span><dfn>Last post </dfn>by {forum.subforum.L_POSTER}<br>{forum.subforum.L_POST_TIME}</span></div>
			
				</li>
			<!-- END subforum -->
		</ul>
	  </div>
      <div class="panel-footer"><!-- TRANSLATE posted_by -->: {news_admin.POSTER} <span class="spacer"> - </span> {news_admin.DATE} {news_admin.L_COMMENT}</div>
    </div>
  </div>
  <!-- END forum -->
</div>
