<div id="main" class="container">						
		{CRUMB}
<!-- BEGIN forums -->
	<div class="page-header">
		<h1>{forums.TITLE}</h1>
	</div>
	
	<div class="card-deck-wrapper">
		<div class="card-deck">
		<!-- BEGIN subforum -->
			<div class="col-md-4 col-xs-12 nopadding">
				<div class="forum-card">
					<a href="{forums.subforum.FORUM_URL}" class="card-inner">
					<!-- IF forums.subforum.ICON -->
						<div class="pull-left forum-card-icon">
							<i class="forum-class {forums.subforum.ICON}"></i>
						</div>
					<!-- ENDIF -->
						<div class="<!-- IF forums.subforum.ICON -->forum-card-details<!-- ELSE -->forum-card-details-no-ic<!-- ENDIF --> pull-left">
							<h4 class="card-title">{forums.subforum.TITLE}</h4>
							<p class="card-text">{forums.subforum.DESC}</p>
						</div>
					</a>
				</div>
			</div>
		<!-- END subforum -->	
		</div>
	</div>
<!-- END forums -->	
</div>