<!-- BEGIN forum -->

				<div class="tier-2-a">
					<div class="tier-2-b exp-content">
						<div class="addon-status" style="width: 170px;">

							
							<div style="margin-top:3px;">
								<form name="activate" style="display:block;float:left;" method="post" enctype="multipart/form-data" action="">
									<input type="hidden" name="op" value="process" />
									<input type="hidden" name="type" value="{forum.B_ACTIVEOP}" />
									<input type="hidden" name="id" value="{forum.FORUM_ID}" />
									<button type="submit" class="input" >
									<img src="templates/default/images/admin/{forum.B_ACTIVEI}.png" style="height:16px;width:16px;border:0;" alt="" />{forum.B_ACTIVET}</button>
								</form>
								<form name="lock" style="display:block;float:right;" method="post" enctype="multipart/form-data" action="">
									<input type="hidden" name="op" value="process" />
									<input type="hidden" name="type" value="{forum.L_ACTIVEOP}" />
									<input type="hidden" name="id" value="{forum.FORUM_ID}" />
									<button type="submit" class="input" ><span class="ui-icon ui-icon-{forum.L_ACTIVEU}"></span>{forum.L_ACTIVET}</button>
								</form>
							</div>
							
							<div style="margin-top:3px;">
								<form name="delete" style="display:inline;" method="post" enctype="multipart/form-data" action="">
									<input type="hidden" name="op" value="process" />
									<input type="hidden" name="type" value="delete" />
									<input type="hidden" name="id" value="{forum.FORUM_ID}" />
									<button type="submit" class="input" >
									<img src="templates/default/images/admin/yellow.png" style="height:16px;width:16px;border:0;" alt="" />Delete</button>
								</form>
							</div>
							
							<div style="margin-top:3px;">
								<a href="{forum.U_EDIT}"><button type="submit" class="input" >
									<img src="templates/default/images/admin/purple.png" style="height:16px;width:16px;border:0;" alt="" />Edit</button></a>
							</div>
							
						</div>

						<div class="tier-2-title">
							{forum.TITLE}
						</div>
						
						<div class="info-text-h">
							<div>{forum.DESC}<br>Posts: {forum.POSTS}</div>
						</div>
						
						<div class="info-text">
						<!-- TRANSLATE order -->: {forum.ORDER}
						</div>

					</div>
					<form action="{U_MAKELINK}" method="post" style="display:block;padding: 0px 3px;margin: 0px;">
						<input type="hidden" name="op" value="process" />
						<input type="hidden" name="type" value="parent" />
						<input type="hidden" name="id" value="{forum.FORUM_ID}" />
						<div class="tier-3-a">
							<div class="tier-3-b">
								<div class="config">
									<div class="config-name">
										<!-- TRANSLATE parent -->: <input type="submit" value="Change Parent" />
									</div>
									<div class="config-input">
										{forum.PARENT}
									</div>
								</div>
							</div>
						</div>
					</form>
					<form action="{U_MAKELINK}" method="post" style="display:block;padding: 0px 3px;margin: 0px;">
						<input type="hidden" name="op" value="process" />
						<input type="hidden" name="type" value="access" />
						<input type="hidden" name="id" value="{forum.FORUM_ID}" />
						<div class="tier-3-a">
							<div class="tier-3-b">
								<div class="config">
									<div class="config-name">
										<!-- TRANSLATE access_level -->: <input type="submit" value="Set" />
									</div>
									<div class="config-input">
										{forum.ACCESS}
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				
				<!-- END forum -->
<!-- BEGIN parent -->				
<div class="content-box-header">
	<div class="panel-title">{parent.TITLE}</div>
	<div class="panel-options">
		<form name="parent" style="display:block;float:left;padding:0 4px;" method="post" enctype="multipart/form-data" action="">
			<input type="hidden" name="op" value="process" />
			<input type="hidden" name="type" value="parent" />
			<input type="hidden" name="id" value="{parent.FORUM_ID}" />
				{parent.PARENT}
				<input type="submit" class="btn btn-primary btn-xs" value="Change Parent" />
		</form>
		<form name="activate" style="display:block;float:left;padding:0 4px;" method="post" enctype="multipart/form-data" action="">
			<input type="hidden" name="op" value="process" />
			<input type="hidden" name="type" value="{parent.B_ACTIVEOP}" />
			<input type="hidden" name="id" value="{parent.FORUM_ID}" />
			<button type="submit" class="btn btn-primary btn-xs" >
			<img src="templates/default/images/admin/{parent.B_ACTIVEI}.png" style="height:16px;width:16px;border:0;" alt="" />{parent.B_ACTIVET}</button>
		</form>
		<form name="lock" style="display:block;float:right;padding:0 4px;" method="post" enctype="multipart/form-data" action="">
			<input type="hidden" name="op" value="process" />
			<input type="hidden" name="type" value="{parent.L_ACTIVEOP}" />
			<input type="hidden" name="id" value="{parent.FORUM_ID}" />
			<button type="submit" class="btn btn-primary btn-xs" ><span class="ui-icon ui-icon-{parent.L_ACTIVEU}"></span>{parent.L_ACTIVET}</button>
		</form>
	</div>
</div>
<div class="content-box-large box-with-header">
	<!-- BEGIN child -->
		<div class="row cfg-row">
			<div class="col-md-2 col-sm-2">{parent.child.TITLE}</div>
			<div class="col-md-4 col-sm-4">
				<form action="{U_MAKELINK}" method="post" style="display:block;padding: 0px 3px;margin: 0px;">
					<input type="hidden" name="op" value="process" />
					<input type="hidden" name="type" value="access" />
					<input type="hidden" name="id" value="{parent.child.FORUM_ID}" />
						<div class="config-name">
							{parent.child.ACCESS}
							<input type="submit" class="btn btn-primary btn-xs" value="Set" />
						</div>
				</form>
			</div>
			<div class="col-md-3">
				<form action="{U_MAKELINK}" method="post" style="display:block;padding: 0px 3px;margin: 0px;">
					<input type="hidden" name="op" value="process" />
					<input type="hidden" name="type" value="parent" />
					<input type="hidden" name="id" value="{parent.child.FORUM_ID}" />
					<div class="config-name">
						{parent.child.PARENT}
						<input type="submit" class="btn btn-primary btn-xs" value="Change Parent" />
					</div>
				</form>
			</div>
			<div class="col-md-1">
				<form name="activate" style="display:block;float:left;" method="post" enctype="multipart/form-data" action="">
					<input type="hidden" name="op" value="process" />
					<input type="hidden" name="type" value="{parent.child.B_ACTIVEOP}" />
					<input type="hidden" name="id" value="{parent.child.FORUM_ID}" />
					<button type="submit" class="btn btn-primary btn-xs" >
					<img src="templates/default/images/admin/{parent.child.B_ACTIVEI}.png" style="height:16px;width:16px;border:0;" alt="" />{parent.child.B_ACTIVET}</button>
				</form>
			</div>			
			<div class="col-md-1">
				<form name="lock" style="display:block;float:right;" method="post" enctype="multipart/form-data" action="">
					<input type="hidden" name="op" value="process" />
					<input type="hidden" name="type" value="{parent.child.L_ACTIVEOP}" />
					<input type="hidden" name="id" value="{parent.child.FORUM_ID}" />
					<button type="submit" class="btn btn-primary btn-xs" ><span class="ui-icon ui-icon-{parent.child.L_ACTIVEU}"></span>{parent.child.L_ACTIVET}</button>
				</form>
			</div>			
			<div class="col-md-1">
				<form name="delete" style="display:inline;" method="post" enctype="multipart/form-data" action="">
					<input type="hidden" name="op" value="process" />
					<input type="hidden" name="type" value="delete" />
					<input type="hidden" name="id" value="{parent.child.FORUM_ID}" />
					<button type="submit" class="btn btn-primary btn-xs" >
					<img src="templates/default/images/admin/yellow.png" style="height:16px;width:16px;border:0;" alt="" />Delete</button>
				</form>
			</div>
			
		</div>
	<!-- END child -->
</div>
<!-- END parent -->
<form method="post" action="" id="addnews" style="text-align:left;">
	<input type="hidden" name="op" value="process" />
	<input type="hidden" name="type" value="add" />

	<div class="tier-2-a">
		<div class="tier-2-b">
			<div class="tier-2-title">
				<div class="right"><input type="submit" value="<!-- TRANSLATE add_forum -->" /></div>
				<!-- TRANSLATE add_forum -->
			</div>

			<div class="info-text">
				<label for="title"><!-- TRANSLATE title -->:</label> <input name="title" id="title" type="text" maxlength="150" size="75" value="" />
			</div>
			<div class="info-text">
				<label for="desc"><!-- TRANSLATE description -->:</label> <input name="desc" id="desc" type="text" size="75" value="" />
			</div>
			<div class="info-text">
				<label for="order"><!-- TRANSLATE order -->:</label> <input name="order" id="order" type="text" size="10" value="" />
			</div>
			<div class="info-text">
				<label for="parent"><!-- TRANSLATE parent -->:</label> {PARENT}
			</div>
			<div class="info-text">
				{ACCESS}
			</div>
		</div>
	</div>

</form>