<div id="main" class="container">

		{CRUMB}

	<ul class="f_options">
		<li>
			<!-- IF LOCKED -->{IMAGE}<!-- TRANSLATE t_lock -->
			<!-- ELSE -->
			<a class="btn btn-primary btn-xs" id="toggle-create-topic" href="{M_STARTTOPIC}">
				<span class="Button-content">New Topic</span>
			</a>
			<!-- ENDIF -->
		</li>
		<li>
		<!-- IF CANLOCK -->
			<form name="lock" method="post" enctype="multipart/form-data" action="">
				<input type="hidden" name="op" value="process" />
				<input type="hidden" name="type" value="{L_ACTIVEOP}" />
				<input type="hidden" name="id" value="{TOPIC_ID}" />
				<button xmlns="http://www.w3.org/1999/xhtml" class="btn btn-primary btn-xs" id="toggle-create-topic" type="submit">
					<span class="Overlay-element"></span>
					<span class="Button-content"><i class="Icon"></i>{L_ACTIVET}</span>
				</button>
			</form>
		<!-- ENDIF -->
		</li>
	</ul>

	<div class="forum-topic-list">
		<!-- BEGIN forums -->
		<a href="{forums.FORUM_URL}">
		<div class="row ForumTopic">
			<div class="col-md-1 col-xs-2">
				<span class="ForumTopic-icon" ><img src="images/<!-- IF forums.STICKY -->sticky<!-- ELSE -->topic<!-- ENDIF -->_<!-- IF forums.READ -->read<!-- ELSE -->unread<!-- ENDIF -->{forums.IMAGEL}{forums.IMAGEM}.gif"></span>
			</div>
			<div class="col-md-5 col-xs-8">
				<span class="ForumTopic-title" >{forums.TITLE}</span> 
			</div>
			<div class="hidden-md hidden-lg hidden-xl col-xs-2">
				<span class=" ForumTopic-timestamp-m pull-right">{forums.R_DATE}</span>
			</div>
			<div class="col-md-2 col-xs-6">
				<span class="ForumTopic-author">{forums.POSTER}</span>
			</div>
			<div class="col-md-2 col-xs-6">
				<span class="ForumTopic-replies"><i class="fa fa-comment"></i> {forums.POSTS}</span>
			</div>
			<div class="col-md-2 hidden-xs">
				<span class="ForumTopic-timestamp">{forums.R_DATE}</span>
			</div>
		</div>
		</a>
		<!-- END forums -->
	</div>
</div>