<div id="main" class="container">

		{CRUMB}

		<ul class="f_options">
			<!-- IF LOCKED -->
			<li>
				{IMAGE}
			</li>
			<!-- ENDIF -->
			<!-- IF CANLOCK -->
			<li>
				<form name="lock" method="post" enctype="multipart/form-data" action="">
					<input type="hidden" name="op" value="process" />
					<input type="hidden" name="type" value="{L_ACTIVEP}" />
					<input type="hidden" name="value" value="{L_ACTIVEOP}" />
					<input type="hidden" name="id" value="{TOPIC_ID}" />
					<button xmlns="http://www.w3.org/1999/xhtml" class="Forum-button Forum-button--new" id="toggle-create-topic" type="submit">
						<span class="Overlay-element"></span>
						<span class="Button-content"><i class="Icon"></i>{L_ACTIVE}</span>
					</button>
				</form>
			</li>
			<!-- ENDIF -->
			
			<!-- IF CANSTICKY -->
			<li>
				<form name="lock" method="post" enctype="multipart/form-data" action="">
					<input type="hidden" name="op" value="process" />
					<input type="hidden" name="type" value="{L_STICKYP}" />
					<input type="hidden" name="value" value="{L_STICKYOP}" />
					<input type="hidden" name="id" value="{TOPIC_ID}" />
					<button xmlns="http://www.w3.org/1999/xhtml" class="Forum-button Forum-button--new" id="toggle-create-topic" type="submit">
						<span class="Overlay-element"></span>
						<span class="Button-content"><i class="Icon"></i>{L_STICKY}</span>
					</button>
				</form>
			</li>
			<!-- ENDIF -->
			
			
			<!-- IF CANANOUNC -->
			<li>
				<form name="lock" method="post" enctype="multipart/form-data" action="">
					<input type="hidden" name="op" value="process" />
					<input type="hidden" name="type" value="{L_ANOUNCP}" />
					<input type="hidden" name="value" value="{L_ANOUNCOP}" />
					<input type="hidden" name="id" value="{TOPIC_ID}" />
					<button xmlns="http://www.w3.org/1999/xhtml" class="Forum-button Forum-button--new" id="toggle-create-topic" type="submit">
						<span class="Overlay-element"></span>
						<span class="Button-content"><i class="Icon"></i>{L_ANOUNC}</span>
					</button>
				</form>
			</li>
			<!-- ENDIF -->
			
			
			<!-- ##IF CANPOST 
			<li>
				<a class="fa-button Forum-button Forum-button--new" id="toggle-create-topic" href="{M_STARTTOPIC}">
					<span class="Button-content">Reply</span>
				</a>
			</li>
			-- ENDIF## -->
		</ul>

		<div class="page-header">
			<h1>{TOPIC_TITLE}</h1>
		</div>
		<div class="forum-post-list">
			<!-- BEGIN forums -->
			<div class="row forum-post-top">
				<div class="col-md-12 topbar">
					{forums.POST_TIME}
					<ul class="f_optionsr">
					<!-- IF CANDELA or CANDELO -->
						<li id="post_delete">
							<form name="lock" method="post" enctype="multipart/form-data" action="">
								<input type="hidden" name="op" value="process" />
								<input type="hidden" name="type" value="delete" />
								<input type="hidden" name="value" value="{L_ANOUNCOP}" />
								<input type="hidden" name="id" value="{POST_ID}" />
								<button xmlns="http://www.w3.org/1999/xhtml" class="Forum-button Forum-button--new" id="toggle-create-topic" type="submit">
									<span class="Overlay-element"></span>
									<span class="Button-content"><i class="Icon"></i>{PAB_DEL}</span>
								</button>
							</form>
						</li>
					<!-- ENDIF -->
						<li id="post_report">
							<form name="lock" method="post" enctype="multipart/form-data" action="">
								<input type="hidden" name="op" value="process" />
								<input type="hidden" name="type" value="report" />
								<input type="hidden" name="value" value="{L_ANOUNCOP}" />
								<input type="hidden" name="id" value="{POST_ID}" />
								<button xmlns="http://www.w3.org/1999/xhtml" class="Forum-button Forum-button--new" id="toggle-create-topic" type="submit">
									<span class="Overlay-element"></span>
									<span class="Button-content"><i class="Icon"></i>{PAB_REP}</span>
								</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
			<div class="row forum-post">
				<div class="col-md-3 author">
				{forums.POST_USERNAME}
				</div>
				<div class="col-md-9 message">
					{forums.POST_TEXT}
				</div>
			</div>
			<!-- END forums -->
		</div>
		