
<div id="main" class="container">

    <div class="col-md-9">
		
		<div class="carousel slide article-slide" id="article-photo-carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<!-- BEGIN slider -->
				<li data-target="#article-photo-carousel" data-slide-to="{slider.NUM}"<!-- IF slider.NUM eq 0 --> class="active"<!-- ENDIF -->>
					<img src="{slider.TIMAGE}" alt="{slider.TITLE}">
				</li>
				<!-- END slider -->
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
			
				<!-- BEGIN slider -->
				<div class="item<!-- IF slider.NUM eq 0 --> active<!-- ENDIF -->">
					<!-- IF slider.URL --><a href="{slider.URL}" target="_blank"><!-- ENDIF -->
					<img src="{slider.IMAGE}" alt="{slider.TITLE}">
					<div class="carousel-caption">
						<!-- IF slider.TITLE -->
							<h3>{slider.TITLE}</h3>
						<!-- ENDIF -->
						<!-- IF slider.DESC -->
							<p>{slider.DESC}</p>
						<!-- ENDIF -->
					</div>
					<!-- IF slider.URL --></a><!-- ENDIF -->
				</div>
				<!-- END slider -->

			</div>
			<a class="left carousel-control" href="#article-photo-carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#article-photo-carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>



        <!-- IF S_ADD_NEWS -->
        <div class="right">
            <a class="btn btn-primary btn-xs" href="{U_ADD_NEWS}"><span class="ui-icon ui-icon-plus"></span><!-- TRANSLATE add_news --></a>
        </div>
        <!-- ENDIF -->

        <!-- BEGIN news -->

        <div class="news_block">
            <div class="title">
                <div class="icon">
                    <img src="{INTERFACE_URL}Interface/Icons/inv_misc_note_02.{IMG_SUFFIX}" alt="" />
                    <div class="mask"></div>
                </div>
                {news.TITLE}
                <!-- IF S_EDIT_NEWS -->
                <div class="right">
                    <a class="input" href="{news.U_EDIT}"><span class="ui-icon ui-icon-pencil"></span><!-- TRANSLATE edit --></a>
                </div>
                <!-- ENDIF -->
            </div>
			<!-- IF news.IMG -->
			<div class="header-image">
				<img src="{news.IMG}"></a>
			</div>
			<!-- ENDIF -->
            <div class="article-summary">
                    {news.TEXT}
            </div>
            <span class="clear"></span>
            <div class="tier-3-a">
                <div class="tier-3-b">
                    <div class="config">
                        <div class="config-name"><!-- TRANSLATE posted_by -->: {news.POSTER} <span class="spacer"> - </span> {news.DATE}</div>
                        <div class="config-input comment_color"><a class="comment_color" href="{news.U_COMMENT}">{news.L_COMMENT}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END news -->

    </div>
    <div class="col-md-3">
        <!-- BEGIN right -->
		<div id="node1" class="side_pannel">
			<div class="side_title">
				<div class="icon">
					<img src="{INTERFACE_URL}Interface/Icons/{right.ICON}.{IMG_SUFFIX}" alt="" />
					<div class="mask"></div>
				</div>
				{right.BLOCKNAME}
			</div>
			<div class="content">{right.BLOCK_DATA}</div>
		</div>
        <!-- END right -->
    </div>
</div>

